body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}

.naglowek {
    background-color: #a2d5f2;
    padding: 20px;
}

.naglowek h1 {
    color: #333;
    margin-bottom: 10px;
}

.naglowek img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}
<link rel="stylesheet" href="style.css">
body {
    margin: 0;
    padding: 0;
    font-family: French Script MT, sans-serif;
}

.naglowek {
    width: 100%;
    height: 400px; /* wysokość nagłówka */
background-color: #ffc0cb; /* pastelowy róż */

    background-images: url('obraz.jpg); (obrazek (2).jpg); (obrazz.jpg) 
   background-size: contain;
background-repeat: no-repeat; /* żeby nie powtarzało się w tle */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /* lekki cień tekstu */
}
<div class="banner">
  <img src="obraz.jpg" alt="">
  <img src="obrazek (2).jpg" alt="">
  <img src="obrazz.jpg" alt="">
</div>


.naglowek h1 {
    font-size: 50px;
}
.tytul {
    text-align: center;       /* Wyśrodkowanie */
    font-size: 36px;          /* Rozmiar czcionki */
    color: #ff69b4;           /* Pastelowy róż */
    margin: 20px 0;           /* Odstęp nad i pod tytułem */
    font-family: 'Arial', sans-serif; /* Czcionka */
}






