body {
  .banner {
  display: flex;
  height: 300px;
  width: 100%;
}

.banner img {
  flex: 1;
  object-fit: cover;
}

.tytul {
    text-align: center;       /* Wyśrodkowanie */
    font-size: 36px;          /* Rozmiar czcionki *
    margin: 20px 0;           /* Odstęp nad i pod tytułem */
    font-family: 'French Script MT', sans-serif; /* Czcionka */
}











