body {
    font-family: French Script MT, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  display: flex;
  width: 100%;
  height: 300px; /* wysokość bannera */
  overflow: hidden;
}

.banner img {
  width: 33.3333%;
  height: 100%;
  object-fit: cover;
}


.naglowek h1 {
    font-size: 50px;
}
.tytul {
    text-align: center;       /* Wyśrodkowanie */
    font-size: 36px;          /* Rozmiar czcionki *
    margin: 20px 0;           /* Odstęp nad i pod tytułem */
    font-family: 'French Script MT', sans-serif; /* Czcionka */
}










